#boton{
    padding: 10px 20px;
    background-color: rgb(255, 97, 184);
    color: white;
    border: none;
    border-radius: 5px;
    max-width: 40%;
    margin: auto;
    margin-bottom: 1em;
}

p{
    text-align: center;
    font-weight: bold;
}

#efecto{
    padding: 10px 20px;
    background-color: rgb(255, 97, 184);
    color: white;
    border: none;
    border-radius: 5px;
    max-width: 40%;
    margin: auto;
}